*{
    box-sizing: border-box;
}

body{
    pointer-events: none;
    overflow-x: clip;
    font-family: DynaPuff;
    white-space: nowrap;  /* Everything should remain on its given line */
    background-color: rgb(223, 255, 223);
    color: rgb(255, 127, 127);
    min-height: 100vh;
    border: 50px solid rgb(255, 127, 127);
    border-image: url('images/Border.png') 64 round;
    padding: 0%;
    margin: 0%;
}

header{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 50px;
    text-align: center;
}

div.Link{
    text-align: center;
}

div.Link a{
    padding: 2px;
    border: 2px solid rgb(191, 191, 255);
}

a{
    pointer-events: auto;
    margin: 4px;
    font-size: 40px;
    color: rgb(191, 191, 255);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    transition: color 0.25s ease-out;
}

a:hover{
    color: rgb(127, 127, 255);
}

.ToTitle{
    border: 2px solid rgb(191, 191, 255);
    padding: 4px;
    font-size: 50px;
}

.BackButtonLocation{
    position: fixed;
    top: 70px;
    left: 70px;
    display: flex;
    flex-direction: column;
}

.ImageLocation{
    display: flex;
    height: 600px;
    width: 600px;
    margin: 10px;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    border: 4px solid rgb(191, 191, 255);
    background-color: rgb(255, 255, 255);
}

.ImageLocation div{
    display: flex;
    flex-direction: column;
}

.InputLocation{
    color: rgb(191, 191, 255);
    position: fixed;
    bottom: 55px;
    justify-self: center;
}

button{
    pointer-events: auto;
    width: 350px;
    height: 90px;
    font-family: DynaPuff;
    font-size: 50px;
    color: rgb(191, 191, 255);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(191, 191, 255);
    transition: color 0.25s ease-out;
}

button:hover{
    color: rgb(127, 127, 255);
}

button:disabled#Correct{
    color: rgb(31, 223, 31);
    background-color: rgb(223, 223, 223);
    border: 2px solid rgb(31, 223, 31);
}

button:disabled#Incorrect{
    color: rgb(223, 95, 95);
    background-color: rgb(223, 223, 223);
    border: 2px solid rgb(223, 95, 95);
}

#easyButton, #normalButton, #hardButton{
    width: 592px;
    height: 197px;
}

#easyButton{
    height: 198px;
}

input{
    pointer-events: auto;
    width: 350px;
    height: 90px;
    color: rgb(191, 191, 255);
    border: 2px solid rgb(191, 191, 255);
    font-family: DynaPuff;
    font-size: 50px;
    text-align: center;
}

input:disabled{
    background-color: rgb(223, 223, 223);
}

*:focus{
    outline: none;
}

.flashRed{
    animation: flashRed 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes flashRed{
    0% { color: rgb(255, 127, 127);
    border-color: rgb(255, 127, 127); }
    100% { color: rgb(191, 191, 255);
    border-color: rgb(191, 191, 255);}
}

img{
    --randPx: 400px;
    --randDeg: 45deg;
}

img.arrive{
    animation: arrive 0.5s linear;
}

@keyframes arrive{
    0% { opacity: 0%;
        transform: translateX(-200px);
    }
    100% { opacity: 100%;
        transform: translateX(0);
    }
}

img.depart{
    animation: depart 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes depart{
    0% { opacity: 100%;
        transform: translateX(0) rotate(0deg);
    }
    100% { opacity: 0%;
        transform: translateX(var(--randPx)) rotate(var(--randDeg));
    }
}

img.backgroundImage{
    position: fixed;
    z-index: -1;
    pointer-events: visible;
    bottom: 100%;
    left: var(--randPx);
    animation: backgroundImageFall 5s ease-in;
    animation-fill-mode: forwards;
}

img.backgroundImgClicked{
    animation: none;
    opacity: 100%;
}

@keyframes backgroundImageFall{
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 50%;
    }
    100% {
        transform: translateY(75vw) rotate(var(--randDeg));
        opacity: 0%;
    }
}
