*{
    box-sizing: border-box;
}

body{
    font-family: DynaPuff;
    background-color: rgb(223, 255, 223);
    color: rgb(255, 127, 127);
    min-height: 100vh;
    margin: 0%;
    padding: 10px;
    border: 50px solid rgb(255, 127, 127);
    border-image: url('images/Border.png') 64 round;
}

a{
    text-decoration: none;
}

.ToTitle{
    border: 2px solid rgb(191, 191, 255);
    padding: 4px;
    font-size: 50px;
    color: rgb(191, 191, 255);
    transition: color 0.25s ease-out;
}

.ToTitle:hover{
    color: rgb(127, 127, 255);
}